* {
  box-sizing: border-box;
}

body {
  background: #292929;
  color: whitesmoke;
  margin: 0;
}

.align-center {
  text-align: center;
}

.title {
  font-family: 'Quicksand';
  font-size: 100px;
}

section {
  height: 100vh;
}

nav {
  display: flex;
  gap: 2em;
  padding: 1em;
}

nav a {
  font-size: 60px;
  font-family: 'Shadows Into Light';
}

a {
  color: cornflowerblue;
  transition: all 0.3s;
}

a:hover {
  color: #00a6b0;
}

.about {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.b {
  font-weight: bolder;
}

.span-font-styles {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#fav-websites a {
  font-size: 60px;
  font-family: 'Shadows Into Light';
}

.news-sctn-title {
  font-family: 'Quicksand';
  font-size: 25px;
}

fieldset {
  background: black;
  border-radius: 10px;
  /* margin-top: 500px; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.i {
  font-style: italic;
}

#h1-styled {
  margin-top: 90px;
  font-size: 40px;
}

.border {
  border: 1px solid gray;
  margin-top: 500px;
}

#ad-title {
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 50px;
  font-family: 'Quicksand';
}

#unsplash-ad-styles {
  border-radius: 20px;
  border: 5px solid black;
}
