.align-center {
  text-align: center;
}

.title {
  font-family: 'Quicksand';
  font-size: 100px;
}

section {
  margin-top: 800px;
}

a {
  margin-left: 30px;
  font-size: 60px;
  font-family: 'Shadows Into Light';
  color: blue;
  transition: all 0.3s;
}

a:hover {
  color: #00a6b0;
}

.about {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.b {
  font-weight: bolder;
}

.span-font-styles {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

section a {
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 0px;
}
